<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang" xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd">


    <beans>
        <lang:groovy id="parser_service_airfoil_tools_script"
                     refresh-check-delay="5000"
                     script-source="classpath:ParserServiceAirfoilToolsScript.groovy">
        </lang:groovy>
        <lang:groovy id="parser_menu_script"
                     refresh-check-delay="5000"
                     script-source="classpath:ParserMenuScript.groovy">
        </lang:groovy>
        <lang:groovy id="parser_airfoil_script"
                     refresh-check-delay="5000"
                     scope="prototype"
                     script-source="classpath:ParserAirfoilScript.groovy">
        </lang:groovy>

        <alias name="parser_service_airfoil_tools_script" alias="parser_service"/>
        <!--<alias name="parser_service_airfoil_tools" alias="parser_service"/>-->

        <alias name="parser_airfoil_script" alias="parser_airfoil"/>
        <!--<alias name="parser_airfoil_impl" alias="parser_airfoil"/>-->

        <alias name="parser_menu_script" alias="parser_menu"/>
        <!--<alias name="parser_menu_impl" alias="parser_menu"/>-->
    </beans>
</beans>