<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Airfoil tolls - Add user</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/homepage.css" rel="stylesheet">
    <script src="/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/css_login.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <!--<![endif]&ndash;&gt;-->
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header"></div>
<!-- Page Content -->


<div class="container">
    <div class="row">
        <div th:replace="fragments/menu :: list_menu"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <form id="add_User" method="post" th:action="@{/add_user}" th:object="${userView}">
                                <div th:if="${userResult=false}" id="error">
                                    Пльзователь с таким логином уже существует
                                </div>
                                <div th:if="${userResult==true}" id="success">Пользователь успешно довавлен</div>

                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="login">Логин:</label>
                                    <div class="col-xs-9">
                                        <input th:field="${userView.name}" type="text" class="form-control"
                                               pattern=".{4,10}" required minlength="4"
                                               id="login"
                                               name="login"
                                               placeholder="Введите логин">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="exampleSelect2">Роли</label>
                                    <div class="col-xs-9">
                                        <select th:field="${userView.roles}" multiple class="form-control" name="roles"
                                                id="exampleSelect2">
                                            <option th:each="role, iter : ${roles}" th:text="${role}"
                                                    th:value="${role}">1
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="password">Пароль:</label>
                                    <div class="col-xs-9">
                                        <input th:field="${userView.password}" type="password" name="password" required
                                               minlength="4"
                                               class="form-control"
                                               id="password"
                                               placeholder="Введите пароль">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-3" for="confirmPassword">Подтвердите
                                        пароль:</label>
                                    <div class="col-xs-9">
                                        <input type="password" name="password2" required minlength="4"
                                               class="form-control"
                                               id="confirmPassword"
                                               placeholder="Введите пароль ещё раз">
                                    </div>
                                </div>
                                <br/>
                                <div class="form-group">
                                    <div class="col-xs-offset-3 col-xs-9">
                                        <input type="submit" class="btn btn-primary" value="Сохранить">
                                        <input type="reset" class="btn btn-default" value="Очистить форму">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
<!-- /.container -->
<!-- jQuery -->
<!--<script src="../js/jquery.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>
<script>
    var password = document.getElementById("password")
        , confirm_password = document.getElementById("confirmPassword");
    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Пароли не совпадают");
        } else {
            confirm_password.setCustomValidity('');
        }
    }
    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
    function search() {
        var date = $("#date").val();
        window.location.replace("/date/" + date);
    }
    document.getElementById("search").onclick = search;</script>
</body>
</html>)