<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Airfoil tolls - Airfoils</title>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/css/shop-homepage.css" rel="stylesheet">

    <script src="/js/jquery-3.1.1.min.js"></script>
    <!--<script src="/js/get_user.js"></script>-->
    <!--<script src="/js/get_content.js"></script>-->
    <!--<script src="/js/get_params_url.js"></script>-->
    <script src="/js/searcher.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <!--<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>-->
    <!--<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->
    <!--<![endif]&ndash;&gt;-->
</head>

<body>

<!--<script src="/js/get_menu.js"></script>-->
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/airfoilList.html">Airfoils</a>
            <script>                 function sbm() {
                search();
            }             </script>
            <form class="navbar-form navbar-left" role="search" onsubmit="sbm(); return false">
                <div class="form-group"><input id="searchTemplate" type="text" class="form-control"
                                               placeholder="shortName contains ..."></div>
            </form>

        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="navbar-nav">
                <li><a href="/about.html" id="about">About</a></li>
            </ul>
        </div>

        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- Page Content -->


<div class="container">
    <div class="row">
        <div class="col-md-3" id="list_menu">
            <p class="lead">Навигация</p>
            <div class="list-group">
                <a class="list-group-item" id="addAirf" href="/adminka/addAirfoil.html">Добавить новый профиль</a>
                <a class="list-group-item" id="adm" href="/adminka/adminka.html">Админка</a>
            </div>
            <span th:each="menuI : ${menu}">
                <p class="lead" th:text="${menuI.header}">Навигация</p>
                <div class="list-group">
                    <a th:each="menuItem : ${menuI.menuItems}" class="list-group-item"
                       th:href="${'/airfoils/'+menuItem.url}"
                       th:text="${menuItem.name}">menuItem</a>
                </div>
            </span>
        </div>

        <div class="col-md-9">
            <form class="well form-horizontal col-sm-6 col-lg-6 col-md-6">
                <div class="form-group">
                    <label class="control-label" for="select01">ShortName</label>
                    <select id="select01">
                        <option>Содержит</option>
                    </select>
                    <input id="short_name" class="control-input" for="select01">
                </div>
                </br>
                <div class="form-group">
                    <label attrName="nCrit" id="label0" class="control-label" for="select0">nCrit</label>
                    <select id="select0">
                        <option>=</option>
                        <option><</option>
                        <option>></option>
                    </select>
                    <input id="value0" class="control-input" for="select0">
                </div>
                </br>
                <div class="form-group">
                    <label attrName="maxClCd" id="label1" class="control-label" for="select1">maxCL/CD</label>
                    <select id="select1">
                        <option>=</option>
                        <option><</option>
                        <option>></option>
                    </select>
                    <input id="value1" class="control-input" for="select1">
                </div>
                </br>
                <div class="form-group">
                    <label attrName="renolgs" id="label2" class="control-label" for="select2">Renolds</label>
                    <select id="select2">
                        <option>=</option>
                        <option><</option>
                        <option>></option>
                    </select>
                    <input id="value2" class="control-input" for="select2">
                </div>
                </br>
                <div class="form-actions">
                    <button type="button" class="btn btn-primary" id="find">Найти</button>
                </div>

            </form>
            <div id="airfoil_list">
                <div th:each="airfoil : ${airfoils}" class="col-sm-6 col-lg-6 col-md-6">
                    <div class="thumbnail">
                        <img th:src="${airfoil.image}" alt="">
                        <div class="caption">
                            <h4><a th:href="'/airfoil/'+${airfoil.shortName}" th:text="${airfoil.shortName}">(a18-il)
                                A18 (original)</a>
                            </h4>
                            <p><span th:utext="${airfoil.description}">description</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <nav aria-label="...">
                <ul class="pagination">
                    <li th:class="${0==currentPage} ? 'disabled' : 'a'">
                        <a th:href=" ${1==currentPage} ? '#' : '/airfoils/'+${prefix}+'/'+${currentPage-1}">&laquo;</a>
                    </li>

                    <li th:each="i : ${#numbers.sequence(1, pageCount, 1)}"
                        th:class="${currentPage==i} ? 'active' : 'a'">
                        <a th:href="'/airfoils/'+${prefix}+'/'+${i-1}" th:text="${i}"> <span class="sr-only"></span></a>
                    </li>

                    <li th:class="${pageCount==currentPage+1} ? 'disabled' : 'a'">
                        <a th:href="${pageCount==currentPage} ? '#': '/airfoils/'+${prefix}+'/'+${currentPage+1}">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>


</div>
<!-- /.container -->
<div class="container">
    <hr>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; Your Website 2014</p>
            </div>
        </div>
    </footer>
</div>
<!-- /.container -->
<!-- jQuery -->
<!--<script src="js/jquery.js"></script>-->
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>

<script>document.getElementById("find").onclick = searchFull;</script>
</body>

</html>