<!DOCTYPE html>
<html xmlns:th="" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Airfoil tolls - Login</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="css/homepage.css" rel="stylesheet"/>
    <script src="js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/css_login.css">
</head>
<body>
<!-- Navigation -->
<div th:replace="fragments/header :: header"></div>
<!-- Page Content -->


<div class="container">
    <div class="row">
        <div th:replace="fragments/menu :: list_menu"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12">
                    <div class="thumbnail">
                        <div class="caption">
                            <p th:if="${param.logout}" class="alert">You have been logged out</p>
                            <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
                            <h2>Login with Username and Password</h2>
                            <form name="form" th:action="@{/login}" action="/login" method="POST">
                                <fieldset>
                                    <input type="text" name="username" value="" placeholder="Username"/><br>
                                    <input type="password" name="password" placeholder="Password"/>
                                </fieldset>
                                <input type="submit" id="login" value="Login"
                                       class="btn btn-primary"/>
                            </form>

                            <!--<img src="/chartTemp/img1.png">-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /.container -->
<div th:replace="fragments/footer :: footer"></div>
<script src="js/bootstrap.min.js"></script>

</body>
</html>